{% load extra %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Good Foot Club</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/app.css?3341">
  <link rel="stylesheet" href="/static/css/spinner.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css"
   integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
   crossorigin=""/>
  <link rel="stylesheet" href="/static/css/tempusdominus-bootstrap-4.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.4/moment-with-locales.min.js"></script>
  <script type="text/javascript" src="/static/js/tempusdominus-bootstrap-4.min.js"></script>
  <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"
   integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw=="
   crossorigin=""></script>
</head>
<body>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" href="/">
    <img src="/static/img/logo.png" alt="Logo" style="width:40px;">
    Good Foot Club
  </a>  
  <ul class="navbar-nav ml-auto">
    {% if user.is_authenticated %}
    <li class="nav-item">
      <a class="nav-link" href="/profile/"><i class="fa fa-user"></i> Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link btn-logout" href="#"><i class="fa fa-sign-out"></i> Logout</a>
    </li>
    {% else %}
    <li class="nav-item">
      <a class="nav-link" href="#signup-modal" data-toggle="modal"><i class="fa fa-user"></i> Sign up</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#login-modal" data-toggle="modal"><i class="fa fa-sign-in"></i> Login</a>
    </li>
    {% endif %}
  </ul>
</nav>

<form class="logout" action="{% url 'rest_logout' %}">
  {% csrf_token %}
</form>

<form method="post" id="loc_form">
  {% csrf_token %}
  <input id="center_loc" name="center" type="hidden">
  <input id="zoom" name="zoom" type="hidden">
  <input id="lats" name="lats" type="hidden">
  <input id="lngs" name="lngs" type="hidden">
</form>

<div class="spinner">
  <div class="bounce1"></div>
  <div class="bounce2"></div>
  <div class="bounce3"></div>
</div>

<div class="container-fluid">
{% block content %}
  <div class="row">
    <div class="col-12">
      <a href="#" class="tmap float-right d-none">Show map</a>
      <a href="#" class="tmap float-right">Hide map</a>    
    </div>
  </div>
  <div id="mapid"></div>

  <div class="card field-card">
    <div class="card-header">Soccer Fields and Facilities
      {% if user.is_authenticated %}
      <button class="btn btn-sm btn-success float-right add-location" data-toggle="modal" data-target="#location-modal">Add Field</button>
      {% endif %}
    </div>
    <div class="card-body">
      {% for location in locations %}
      <div class="col-12 rounded border border-secondary p-3 mt-4 mb-4">
        <div class="row">
          <div class="col-sm-12 no-padding">
            <h5 class="d-inline" ><a href="/location/{{ location.id }}">{{ location.name }}</a></h5>
            <span class="badge badge-location badge-info float-right mt-2">{{ location|game_count }}</span>
            <h6><span class="text-secondary">{{ location.facility_type|title }}</span> | <span class="text-secondary">{{ location.field_type|title }}</span></h6>
          </div>
        </div>
        <div class="row">
          
          {% if user.is_authenticated %}
          <div class="col-sm-12 no-padding">
            <button class="btn btn-success btn-sm float-right add-event" data-id="{{ location.id }}" data-location="{{ location.name }}">Add Game</button>
          </div>
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div> 
  </div>  
{% endblock %}
</div>


<!-- The Modal -->
<div class="modal fade" id="welcome-modal">
  <div class="modal-dialog">
    <div class="modal-content">
    
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Welcome to Good Foot Club.</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      
      <div class="modal-body">
        <p>
          We are building a soccer community for all the players around Sacramento.
          We've just begun and we're building up our player roster and would love you to join us.
        </p>
        <p>Check out our site and see if there are any games at any of the places you play soccer.</p>
        <p>Our goal is to provide a place for everyone to play more enjoyable soccer around sacramento.</p>
      </div>
      
    </div>
  </div>
</div>

<div class="modal fade" id="profile-modal">
  <div class="modal-dialog">
    <div class="modal-content">
    
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Notification</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      
      <div class="modal-body">
        <p>Please fill all information on the <a href="/profile">profile</a> page to make proper use of the application</p>

        <p>Otherwise some features are not fully available.</p>
      </div>
      
    </div>
  </div>
</div>

<!-- The Modal -->
<div class="modal fade" id="login-modal">
  <div class="modal-dialog">
    <div class="modal-content">
    
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Sign in</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      
      <!-- Modal body -->
      <form class="login form-inline ajax-post" method="POST" action="{% url 'rest_login' %}">
      <div class="modal-body">
          {% csrf_token %}
          <div class="form-group mt-3">
              <label class="control-label col-sm-3" for="id_login1">Email:</label>
              <div class="col-sm-8">
                  <input id="id_login1" name="email" placeholder="Email" type="email" class="form-control" required="">
              </div>
          </div>
          <div class="form-group mt-3">
              <label class="control-label col-sm-3" for="id_password">Password:</label>
              <div class="col-sm-8">
                  <input id="id_password" name="password" placeholder="Password" type="password" class="input-xlarge form-control" required="">
              </div>
          </div>
          <div class="col-sm-8 offset-sm-3 mt-3">
            <div class="api-response text-danger"></div>
          </div>
      </div>
      
      <!-- Modal footer -->
      <div class="modal-footer col-12">
        <a href="#forget-modal" data-toggle="modal" class="text-primary" data-dismiss="modal">Forget Password</a>
        <button type="submit" class="btn btn-success">Sign In</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
      </div>
      </form>
      
    </div>
  </div>
</div>

<div class="modal fade" id="signup-modal">
  <div class="modal-dialog">
    <div class="modal-content">
    
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Sign up</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      
      <!-- Modal body -->
      <form class="signup form-inline ajax-post" method="POST" action="{% url 'rest_register' %}">
      <div class="modal-body">
          {% csrf_token %}
          <div class="form-group mt-3">
              <label class="control-label col-sm-4" for="id_login1">Email:</label>
              <div class="col-sm-8">
                  <input name="email" placeholder="Email" type="email" class="form-control" required="">
              </div>
          </div>
          <div class="form-group mt-3">
              <label class="control-label col-sm-4" for="id_password">Password:</label>
              <div class="col-sm-8">
                  <input name="password1" placeholder="Password" type="password" class="input-xlarge form-control" required="">
              </div>
          </div>
          <div class="form-group mt-3">
              <label class="control-label col-sm-4" for="id_password">Re-Password:</label>
              <div class="col-sm-8">
                  <input name="password2" placeholder="Password" type="password" class="input-xlarge form-control" required="">
              </div>
          </div>
          <div class="col-sm-8 offset-sm-3 mt-3">
            <div class="api-response text-danger"></div>
          </div>
      </div>
      
      <!-- Modal footer -->
      <div class="modal-footer col-12">
        <button type="submit" class="primaryAction btn btn-success">Sign Up</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
      </div>
      </form>
      
    </div>
  </div>
</div>

<div class="modal fade" id="forget-modal">
  <div class="modal-dialog">
    <div class="modal-content">
    
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Password Reset</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      
      <!-- Modal body -->
      <form class="signup form-inline ajax-post" method="POST" action="{% url 'rest_password_reset' %}">
      <div class="modal-body">
          {% csrf_token %}
          <div class="form-group mt-3">
              <label class="control-label col-sm-3" for="id_login1">Email:</label>
              <div class="col-sm-9">
                  <input name="email" placeholder="Email" type="email" class="form-control" required="">
              </div>
          </div>
          <div class="col-sm-8 offset-sm-3 mt-3">
            <div class="api-response text-danger"></div>
          </div>
      </div>
      
      <!-- Modal footer -->
      <div class="modal-footer col-12">
        <button type="submit" class="primaryAction btn btn-success">Reset</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
      </div>
      </form>
      
    </div>
  </div>
</div>

<!-- ADD LOCATION MODAL -->
<div class="modal fade" id="location-modal">
  <div class="modal-dialog">
    <div class="modal-content">
    
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Add Location</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      
      <!-- Modal body -->
      <form class="location form-inline ajax-post" method="POST" action="/api/location/">
      <div class="modal-body">
          {% csrf_token %}
          <div class="form-group mt-3">
              <label class="control-label col-sm-4" for="id_login1">Name:</label>
              <div class="col-sm-8">
                  <input name="name" type="text" class="form-control" required="">
              </div>
          </div>
          <div class="form-group mt-3">
              <label class="control-label col-sm-4" for="id_password">Address:</label>
              <div class="col-sm-8">
                  <input name="address" type="text" id="address" class="input-xlarge form-control" required="">
              </div>
          </div>
          <div class="form-group mt-3">
              <label class="control-label col-sm-4" for="id_password">Facility Type:</label>
              <div class="col-sm-8">
                  <select class="input-xlarge form-control" name="facility_type">
                    <option value="indoor">Indoor</option>
                    <option value="outdoor">Outdoor</option>
                  </select> 
              </div>
          </div>
          <div class="form-group mt-3">
              <label class="control-label col-sm-4" for="id_password">Field Type:</label>
              <div class="col-sm-8">
                  <select class="input-xlarge form-control" name="field_type">
                    <option value="grass">Grass</option>
                    <option value="turf">Turf</option>
                    <option value="futsal">Futsal</option>
                  </select> 
              </div>
          </div>
          <div class="form-group mt-3">
              <label class="control-label col-sm-4" for="id_login1">Facility URL:</label>
              <div class="col-sm-8">
                  <input name="url" type="text" class="form-control" placeholder="www.goodfoot.club">
              </div>
          </div>
          <div class="col-sm-8 offset-sm-3 mt-3">
            <div class="api-response text-danger"></div>
          </div>
      </div>
      
      <!-- Modal footer -->
      <div class="modal-footer col-12">
        <button type="submit" class="primaryAction btn btn-success"> &nbsp;Save&nbsp; </button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
      </div>
      </form>
      
    </div>
  </div>
</div>

<!-- ADD EVENT MODAL -->
<div class="modal fade" id="event-modal">
  <div class="modal-dialog">
    <div class="modal-content">
    
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Add Game Event</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      
      <!-- Modal body -->
      <form class="event form-inline ajax-post" method="POST" action="/api/gameevent/">
      <div class="modal-body">
          {% csrf_token %}
          <div class="form-group mt-3">
              <label class="control-label col-sm-4" for="id_login1">Location:</label>
              <div class="col-sm-8">
                  <input name="location" id="location-id" type="hidden">
                  <input name="url" id="method" type="hidden">
                  <input type="text" id="location-name" class="form-control" readonly>
              </div>
          </div>
          <div class="form-group mt-3">
              <label class="control-label col-sm-4" for="id_password">Date:</label>
              <div class="col-sm-8">
                <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                    <input type="text" name="datetime" class="form-control datetimepicker-input" data-target="#datetimepicker1" required="" />
                    <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                    <small id="emailHelp" class="form-text text-muted">Please create games at least 24 hours in advance.</small>
                </div>
              </div>
          </div>
          <div class="form-group mt-3">
              <label class="control-label col-sm-4" for="id_password">Time:</label>
              <div class="col-sm-8">
                <div class="input-group date" id="datetimepicker2" data-target-input="nearest">
                    <input type="text" name="time" class="form-control datetimepicker-input" data-target="#datetimepicker2" required="" />
                    <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-clock-o"></i></div>
                    </div>
                </div>
              </div>
          </div>          
          <div class="form-group mt-3">
              <label class="control-label col-sm-4" for="id_password">Description:</label>
              <div class="col-sm-8">
                  <input name="description" type="text" class="input-xlarge form-control">
              </div>
          </div>
          <div class="form-group mt-3">
              <label class="control-label col-sm-4" for="id_password">Invite Players:</label>
              <div class="col-sm-8">
                  <select class="input-xlarge form-control" name="players" multiple size="5" required="" style="width: 80%;">
                    {% for player in players %}
                      {% if player.first_name and player.last_name %}
                        <option value="{{ player.id }}">{{ player.first_name }} {{ player.last_name }}</option>
                      {% else %}
                        <option value="{{ player.id }}">{{ player.username }}</option>
                      {% endif %}
                    {% endfor %}
                  </select> 
              </div>
          </div>
          <div class="col-sm-8 offset-sm-3 mt-3">
            <div class="api-response text-danger"></div>
          </div>
      </div>
      
      <!-- Modal footer -->
      <div class="modal-footer col-12">
        <button type="submit" class="primaryAction btn btn-success"> &nbsp;Save&nbsp; </button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
      </div>
      </form>
      
    </div>
  </div>
</div>

<!-- Shouldn't the access tokens and keys be hidden -->

{% block gis_script %}
<script type="text/javascript">
  var mymap = L.map('mapid').setView([{{ center }}], {{ zoom }});
  L.tileLayer('https://api.mapbox.com/styles/v1/mrlafranchi/cjed32lr92bzc2smw9afeka1t/tiles/256/{z}/{x}/{y}?access_token=pk.eyJ1IjoibXJsYWZyYW5jaGkiLCJhIjoiY2pneTJpdWUyMTRicTJxbDZnd3V6aWN3YSJ9.PKJe-IBFB8JAJhFsbsXE1w', {
    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
    maxZoom: 18,
    id: 'mapbox.streets',
    accessToken: 'pk.eyJ1IjoibXJsYWZyYW5jaGkiLCJhIjoiY2pneTJpdWUyMTRicTJxbDZnd3V6aWN3YSJ9.PKJe-IBFB8JAJhFsbsXE1w'
  }).addTo(mymap);

  // add markers for locations
  {% for location in locations %}
    {% if location.lat and location.lng %}
      L.marker([{{ location.lat }}, {{ location.lng }}]).addTo(mymap).bindPopup('{{ location.name }}');        
    {% endif %}
  {% endfor %}

  mymap.on('dragend', function(e) {
    updateLoaction();
  });

  mymap.on('zoomend', function() {
    updateLoaction();
  });

  function updateLoaction() {
    var cnt = mymap.getCenter();
    var bounds = mymap.getBounds();

    $('#center_loc').val(cnt.lat+', '+cnt.lng);
    $('#zoom').val(mymap.getZoom());
    $('#lats').val(bounds._southWest.lat+', '+bounds._northEast.lat);
    $('#lngs').val(bounds._southWest.lng+', '+bounds._northEast.lng);
    $('#loc_form').submit();
  }
  
  {% if request.method == 'GET' %}
    updateLoaction();
  {% endif %}
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDfqKLaWJAKqyezsQKrZbsfCuzTLfgDkL0&libraries=places"></script>
<script>
$(function () {
  autocomplete = new google.maps.places.Autocomplete((document.getElementById('address')),
      {types: ['geocode']});
  $('.add-location').click(function() {
    $('form.location')[0].reset();
    $('form.event input[name=url]').val('');  // consider
  });  
});

var redirect_url = '/';
</script>
{% endblock %}

{% block profile_script %}
<script type="text/javascript">
  {% if user.is_authenticated and not user.home_field %}
    $('#profile-modal').modal();
  {% endif %}
</script>
{% endblock %}

{% block script %}
<script src="/static/js/index.js"></script>
{% endblock %}

<script type="text/javascript" src="/static/js/common.js"></script>
</body>
</html>
